:root{
    --color-primary:#002E2A;
    --color-secondary:#e6b412;
}
.bg-primary{
    background-color: var(--color-primary);
}
.bg-secondary{
    background-color: var(--color-secondary);
}
.bg-error{
    background-color: red;
}
.bg-warning{
    background-color: rgb(171, 171, 11);
}
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.text-primary{
    color: var(--color-primary) !important;
}
.text-secondary{
    color: var(--color-secondary);
}
.text-black{
    color: black;
}
.text-white{
    color: white;
}
.border-primary{
    border-color: var(--color-primary);
}
.border-secondary{
    border-color: var(--color-secondary);
}